<form class="profile" [formGroup]="profileInfoForm" (ngSubmit)="onSubmit()">
  <div class="profile-info">
    <h3 class="profile-title">Info</h3>
    <div class="profile-info__container">
      <div class="profile-info__names">
        <app-input
          placeholder="FullName"
          formControlName="fullName"
          [errors]="profileInfoForm.controls.fullName.errors"
        />
        <app-input
          placeholder="Username"
          formControlName="username"
          [errors]="profileInfoForm.controls.username.errors"
        />
      </div>
      <app-input
        placeholder="City"
        formControlName="city"
        [errors]="profileInfoForm.controls.city.errors"
      />
      <app-input
        placeholder="Story"
        formControlName="story"
        [errors]="profileInfoForm.controls.story.errors"
      />
      <button
        class="profile-info__btn"
        type="submit"
        [disabled]="profileInfoForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>
