<div class="navbar">
  <div class="navbar-input">
    <input type="text" placeholder="Search for friends, groups, pages" />
    <app-icon [icon]="'Search'" />
  </div>
  <div class="navbar-profile">
    <div class="navbar-profile__btn">
      <button routerLink="post/new">Add New Post +</button>
    </div>
    <nav class="navbar-profile__nav">
      <a class="navbar-profile__nav-link">
        <app-icon [icon]="'Message'" />
      </a>
      <a class="navbar-profile__nav-link">
        <app-icon [icon]="'Reminder'" />
      </a>
      <a class="navbar-profile__nav-link">
        <app-icon [icon]="'Setting'" />
      </a>
    </nav>
    <div
      [routerLink]="['/profile', userService.activeUser._id]"
      class="navbar-profile-user"
    >
      <img [src]="userService.activeUser.avatar" alt="" />
    </div>
  </div>
</div>
