<div class="navbar">
  <header-input />
  <div class="navbar-profile">
    <div class="navbar-profile__btn">
      <add-button />
    </div>
    <nav class="navbar-profile__nav">
      <a href="#" class="navbar-profile__nav-link">
        <app-icon [icon]="'Message'" />
      </a>
      <a href="#" class="navbar-profile__nav-link">
        <app-icon [icon]="'Reminder'" />
      </a>
      <a href="#" class="navbar-profile__nav-link">
        <app-icon [icon]="'Setting'" />
      </a>
    </nav>
    <div class="navbar-profile-user">
      <app-icon class="navbar-profile-user--img" [icon]="'AvatarPost'" />
    </div>
  </div>
</div>
