.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--white-color);
  border-bottom: 1px solid #ddd;
  border: 1px solid var(--gray-color);
  width: 100%;

  &-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 24px;
    border: 1px solid var(--border-color);
    width: 400px;
    padding: 8px 16px;

    &:focus-within {
      border: 1px solid var(--electricBlue-color);
    }

    input {
      width: 90%;
    }
  }

  &-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    &__nav {
      display: flex;
      align-items: center;
      gap: 8px;

      &-link {
        padding: 15px 14px;
        border-radius: 123px;
        border: 1px solid var(--border-color);
      }
    }

    & button {
      background-color: #5865f2;
      color: white;
      border: none;
      padding: 8px 15px;
      border-radius: 20px;
      cursor: pointer;
      margin-right: 10px;
    }

    &-user {
      max-width: 60px;
      max-height: 60px;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 123px;
      }
    }
  }

  &-search {
    max-width: 400px;
    display: flex;
    align-items: center;
  }
}

header-input {
  flex: 1;
}
