.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--white-color);
  border-bottom: 1px solid #ddd;
  border: 1px solid var(--gray-color);
  width: 100%;

  &-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    &__nav {
      display: flex;
      align-items: center;
      gap: 8px;

      &-link {
        padding: 15px 14px;
        border-radius: 123px;
        border: 1px solid var(--border-color);
      }
    }

    &-user {
    }
  }

  &-search {
    max-width: 400px;
    display: flex;
    align-items: center;
  }
}

header-input {
  flex: 1;
}
