<!-- <div class="frame_container">
  <h2>Friend Suggestions</h2>
  <div class="side_suggests">
    <div class="frame_user">
      <div class="frame_user_data">
        <app-icon [icon]="'AvatarPost'" />
        <div class="frame_user_info">
          <span class="frame_user_name">Julia Smith</span>
          <span class="frame_user_username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="frame_user_btn">
        <app-icon [icon]="'Plus'" />
      </button>
    </div>
    <div class="frame_user">
      <div class="frame_user_data">
        <app-icon [icon]="'AvatarPost'" />
        <div class="frame_user_info">
          <span class="frame_user_name">Julia Smith</span>
          <span class="frame_user_username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="frame_user_btn">
        <app-icon [icon]="'Plus'" />
      </button>
    </div>
    <div class="frame_user">
      <div class="frame_user_data">
        <app-icon [icon]="'AvatarPost'" />
        <div class="frame_user_info">
          <span class="frame_user_name">Julia Smith</span>
          <span class="frame_user_username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="frame_user_btn">
        <app-icon [icon]="'Plus'" />
      </button>
    </div>
    <div class="frame_user">
      <div class="frame_user_data">
        <app-icon [icon]="'AvatarPost'" />
        <div class="frame_user_info">
          <span class="frame_user_name">Julia Smith</span>
          <span class="frame_user_username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="frame_user_btn">
        <app-icon [icon]="'Plus'" />
      </button>
    </div>
    <div class="frame_user">
      <div class="frame_user_data">
        <app-icon [icon]="'AvatarPost'" />
        <div class="frame_user_info">
          <span class="frame_user_name">Julia Smith</span>
          <span class="frame_user_username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="frame_user_btn">
        <app-icon [icon]="'Plus'" />
      </button>
    </div>
    <div class="frame_user">
      <div class="frame_user_data">
        <app-icon [icon]="'AvatarPost'" />
        <div class="frame_user_info">
          <span class="frame_user_name">Julia Smith</span>
          <span class="frame_user_username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="frame_user_btn">
        <app-icon [icon]="'Plus'" />
      </button>
    </div>
  </div>
</div> -->

<div class="friend-suggestions">
  <h2 class="friend-suggestions__title">Friend Suggestions</h2>
  <div class="friend-suggestions__list">
    <div class="friend-suggestions__item friend-card">
      <div class="friend-card__info">
        <app-icon class="friend-card__avatar" [icon]="'AvatarPost'"></app-icon>
        <div class="friend-card__details">
          <span class="friend-card__name">Julia Smith</span>
          <span class="friend-card__username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="friend-card__button">
        <app-icon [icon]="'Plus'"></app-icon>
      </button>
    </div>
    <div class="friend-suggestions__item friend-card">
      <div class="friend-card__info">
        <app-icon class="friend-card__avatar" [icon]="'AvatarPost'"></app-icon>
        <div class="friend-card__details">
          <span class="friend-card__name">Julia Smith</span>
          <span class="friend-card__username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="friend-card__button">
        <app-icon [icon]="'Plus'"></app-icon>
      </button>
    </div>
    <div class="friend-suggestions__item friend-card">
      <div class="friend-card__info">
        <app-icon class="friend-card__avatar" [icon]="'AvatarPost'"></app-icon>
        <div class="friend-card__details">
          <span class="friend-card__name">Julia Smith</span>
          <span class="friend-card__username">{{
            "juliasmith" | userNamePipe
          }}</span>
        </div>
      </div>
      <button class="friend-card__button">
        <app-icon [icon]="'Plus'"></app-icon>
      </button>
    </div>
  </div>
</div>
