<form class="profile" [formGroup]="profilePasswordForm" (ngSubmit)="onSubmit()">
  <div class="profile-password">
    <h3 class="profile-password__title">Password</h3>
    <div class="profile-password__container">
      <app-input
        placeholder="Old Password"
        formControlName="oldPassword"
        [errors]="profilePasswordForm.controls.oldPassword.errors"
      />
      <app-input
        placeholder="New Password"
        formControlName="password"
        [errors]="profilePasswordForm.controls.password.errors"
      />
      <app-input
        placeholder="Confirm New Password"
        formControlName="confirmPassword"
        [errors]="profilePasswordForm.controls.confirmPassword.errors"
      />

      @if (profilePasswordForm.errors?.['passwordMismatch']) {
      <span class="form_error"> Passwords don't match </span>
      }
      <button
        class="profile-password__btn"
        type="submit"
        [disabled]="profilePasswordForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>
