<div [appHighlight]="'#fff'" class="post">
  <div class="post__header">
    <div class="post__author">
      <div class="post__avatar">
        <img
          class="post__avatar-img"
          src="{{ post.avatarImg }}"
          alt="User avatar"
        />
        <!-- <app-icon class="post__avatar-img" [icon]="'AvatarPost'" /> -->
      </div>
      <div class="post__info">
        <h3 class="post__name">{{ post.name | userNamePipe }}</h3>
        <p class="post__role">{{ post.description }}</p>
      </div>
    </div>
    <h2>{{ post.createdAt | relativeDate }}</h2>
    <app-icon class="post__menu-icon" [icon]="'DotsVertical'"></app-icon>
  </div>

  <div class="post__content">
    <p class="post__text">
      {{ post.content | cutText }}
      @for (tag of post.tags; track $index) {
      <span class="post__tag">#{{ tag }}</span>
      }
    </p>

    <img class="post__image" src="{{ post.image }}" alt="Post image" />

    <div class="post__actions">
      <div class="post__interaction">
        <div class="post__likes">
          <button (click)="likePost(post._id)" class="post__button">
            <app-icon [icon]="'ThumbsUp'"></app-icon>
          </button>
          <span *appShowDirective="post.likes" class="post__likes-count"
            >{{ post.likes }} Likes</span
          >
        </div>

        <button (click)="toggleComments()" class="post__button">
          <div class="post__comments">
            <app-icon [icon]="'ChatDots'"></app-icon>
            <span class="post__comments-count"
              >{{ post.comments.length }} Comments</span
            >
          </div>
        </button>

        <div class="post__share">
          <app-icon [icon]="'ShareFat'"></app-icon>
          <span class="post__share-count">187 Share</span>
        </div>
      </div>

      <app-icon class="post__bookmark" [icon]="'BookmarkSimple'"></app-icon>
    </div>

    <div *ngIf="showComment">
      <h1>12321</h1>
      <h1>12321</h1>
      <h1>12321</h1>
    </div>
  </div>

  <div class="post__bottom">
    <div class="post__comment-box">
      <img src="{{ post.avatarImg }}" alt="User avatar" />
      <input type="text" placeholder="Write your comment..." />
    </div>
    <div class="post__comment-buttons">
      <button class="post__button">
        <app-icon [icon]="'Vector (1)'" />
      </button>
      <button class="post__button">
        <app-icon [icon]="'Monotone add (2)'" />
      </button>
      <button class="post__button">
        <app-icon [icon]="'Send'" />
      </button>
    </div>
  </div>
</div>
