.profile {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
  padding: 28px 0 28px 28px;
  width: 100%;

  h2 {
    font-size: 32px;
    font-weight: 700;
  }
  &_links {
    display: flex;
    align-items: center;
    gap: 30px;

    & a {
      padding: 8px 12px;
      border-radius: 10px;

      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
      background: var(--icyBlue-color);
      color: var(--dark-color);
      border-radius: 123px;
      transition: all 0.5s ease;

      &:active {
        background-color: var(--border-color);
      }

      cursor: pointer;
    }
  }
}

.active-link {
  background-color: var(--border-color);
  color: var(--white-color);
}
