<div class="post-card">
  <div class="post-header">
    <div class="post-header__logo">
      <div class="post-header__img">
        <img src="../../../../../assets/images/Frame 3.png" alt="" />
      </div>
      <div class="post-header__info">
        <h3>X_AE_A-13</h3>
        <p>Product Designer, slothUI</p>
      </div>
    </div>
    <button class="menu-btn">⋮</button>
  </div>

  <div></div>

  <!-- Текст поста -->
  <div class="post-main">
    <p class="post-main__text">
      Habitant morbi tristique senectus et netus et. Suspendisse sed nisi lacus
      sed viverra. Dolor morbi non arcu risus quis varius. #amazing #great
      #lifetime #uiux #machinelearning
      <span>
        <a href="#" class="tag"></a>
      </span>
    </p>

    <img
      class="post-image"
      src="../../../../../assets//images/Frame 3.png"
      alt="Post image"
    />
  </div>
  <!-- Панель взаимодействий -->
  <div class="post-actions">
    <span>👍 12 Likes</span>
    <span>💬 25 Comments</span>
    <span>🔗 151 Share</span>
  </div>

  <!-- Поле для комментария -->
  <div class="comment-box">
    <img
      class="avatar"
      src=" ../../../../../../../assets/images/Users.svg"
      alt="User avatar"
    />
    <input type="text" placeholder="Write your comment..." />
  </div>
</div>
