/* You can add global styles to this file, and also import other style files */

:root {
  --white-color: #ffffff;
  --dark-color: #1e293b;
  --gray-color: #e2e8f0;

  --475569-color: #475569;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
