:root {
  --background: #f8fafc;
  --background2: #ececec;
  --white-color: #ffffff;
  --purple-color: #4f46e5;
  --border-color: #cbd5e1;
  --dark-color: #1e293b;
  --475569-color: #475569;
  --gray-color: #e2e8f0;
  --green-color: green;
  --red-color: #f27373;
  --icyBlue-color: #a5b4fc;
  --iceLilac-color: #eef2ff;
  --electricViolet-color: #4f46e5;
}
